/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #3397DB;
  padding: 20px 0;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 15px;
  height: 35px;
  letter-spacing: 0;
  margin: 10px 20px;
  padding: 0 20px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 0 25px;
  text-align: center;
  min-width: 270px;
  max-width: 300px;
}

/*** MEDIA QUERIES ***/

@media only screen and (min-width: 0px) {
  #restaurants-list li {
    max-width: 100%;
  }
}
@media only screen and (min-width: 767px) {
  #restaurants-list li {
    max-width: 45%;
  }
}
@media only screen and (min-width: 1023px) {
  #restaurants-list li {
    max-width: 350px;
  }
}

/* lazy load style */
.lazy-load, .lazy-loaded {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}
.lazy-loaded { opacity: 1; }

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
}
#restaurants-list .restaurant-text-area {
  padding: 0 25px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 170px;
  max-height: 170px;
}
#restaurants-list li h2 {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li button {
  background-color: orange;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.filter-selects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.filter-label {
  display: none;
}
